body {
  margin: 0;
  width: 100%;
  background-color: black;
}
.e {
  display: flex;
  flex-direction: column;
  height: 60rem;
}
.head {
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(226, 239, 222);
}
.Inicio {
  display: block;
}
.Sobrenosotros {
  display: block;
}
.Servicios {
  display: block;
}
.Contacto {
  display: block;
}
.body {
  display: flex;
}
#test {
  width: 100%;
}
.bodytext {
  display: block;
}
.FAQ {
  display: block;
}
.Testimonios {
  display: block;
}
.footer {
  display: flex;
  background-clip: url(https://videos.pexels.com/video-files/4475744/4475744-uhd_2560_1440_25fps.mp4);
}
